# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Henrik Larsson
	email = t1@henkelarsson.se
[core]
    pager = "delta --paging always"

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    features = catppuccin-mocha    
# delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default



