.bash_history
.local
.cache
.ssh
projects/blingbox/.config/helix/runtime
.m2
projects/blingbox/.config/clojure
.envrc
.wget-hsts
go
.gnupg
projects/blingbox/.config/gopass
projects/goplay
projects/notes
projects/pmplay
